*{
   font-family: 'Muli', sans-serif;
}

a{
    color: blue;
}

.title-staff {
    text-align: center;
    background-color: aquamarine;
}

.p {
    margin: 10px;
}

.medio {
    text-align: center;
}